<nav class="navbar navbar-expand-md navbar-light bg-light mb-3  ">
  <a class="navbar-brand" [routerLink]="['/welcome']" >Sofrecom Portal</a>
  <button class="navbar-toggler hidden-lg-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/list']" >Liste de Produits <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/add']">Ajouter Produit</a>
      </li>

    </ul>

  </div>
</nav>
